@import './scss/Homepage';
@import './scss/Roster';

@import url('https://fonts.googleapis.com/css?family=Karla|Josefin+Sans');

html {
  overflow-x: hidden;
}

body {
 font-family: 'Karla', sans-serif;
 text-align: left;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0; 
}

.homepage {
  transition: opacity 0.3s;
  z-index: 100;
}

.fade-enter {
  opacity: 0;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  z-index: -100;
  transition: opacity 0.3s;
}

.fade-enter-done {
  opacity: 1;
  z-index: 100;
  position: static;
}

.fade-exit {
  opacity: 1;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s;
}

.fade-exit-done {
  opacity: 0;
  z-index: -100;
  position: static;
}