@import './scss/Homepage';
@import './scss/Roster';
@import './scss/Create';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Josefin+Sans|Lato');

html {
  overflow-x: hidden;
}

body {
 font-family: 'Lato', sans-serif;
 text-align: left;
 background: black;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0; 
}

a {
  text-decoration: none;
  color: #1DA1F2;
}

div, h1 {
  text-align: center;
}

.homepage {
  transition: opacity 0.3s;
  z-index: 100;
}

.ReactTable {
  max-width: 800px;
  margin: 0 auto;
  .rt-thead .rt-th {
    padding: 10px 12px;
  }
  .rt-tbody .rt-td {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.fade-enter {
  opacity: 0;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  z-index: -100;
  transition: opacity 0.3s;
}

.fade-enter-done {
  opacity: 1;
  z-index: 100;
  position: static;
}

.fade-exit {
  opacity: 1;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s;
}

.fade-exit-done {
  opacity: 0;
  z-index: -100;
  position: static;
}