@import './scss/Panel';
@import './scss/Homepage';
@import './scss/VoteContainer';
@import './scss/codepen';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');

html {
  overflow-x: hidden;
}

body {
 font-family: 'Open Sans', sans-serif;
 text-align: left;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0; 
}

body, .root, .App {
  pointer-events: none;
}