$breakpoint: 1000px;

.bar {
  font: 'Arcadepix';
  position: relative;
  text-align: left;
  font-size: 36px;
  @media screen and (max-device-width: 500px) {
    font-size: 24px;
  }
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  align-self: flex-end;
  .votes {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 100px;
    width: 100%;
    &:hover {
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.25);
        z-index: 3;
      }
    }
  }
  .bar__details {
    position: absolute;
    pointer-events: none;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
    padding-top: calc(50% - 0.5em);
    z-index: 2;
    .votes_count {
      display: block;
      font-size: 0.5em;
    }
  }
  @media screen and (max-width: $breakpoint), screen and (max-device-width: $breakpoint) {
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
    .bar__details {
      position: absolute;
      left: 15px;
      transform: rotate(0deg);
      z-index: 2;
    }
    .votes {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100px;
      height: 100%;
    }
  }
}